body {
	background-color:#000000;
	font-family: calibri, ubuntu;
}

body > div {
	position:absolute; 
	color:#FFFFFF; 
	font-size:20px; 
	text-align:center; 
	top:50%; 
	left:0; 
	right:0;
}

body pre {
	font:monospace; 
	text-align:left;
	padding-left: 2em;
}
